<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8SRXdC-HLejb8l8hiKh3jaLNh5TNkgBM</string>
	<key>GCM_SENDER_ID</key>
	<string>560491690614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meals</string>
	<key>PROJECT_ID</key>
	<string>loginandsignupdetails-29eb5</string>
	<key>STORAGE_BUCKET</key>
	<string>loginandsignupdetails-29eb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560491690614:ios:72d791c3b326a80ff33d57</string>
	<key>DATABASE_URL</key>
	<string>https://loginandsignupdetails-29eb5-default-rtdb.firebaseio.com</string>
</dict>
</plist>